.markers_container {
    left: 0;
    top: 0;
    height: 2px;
    width: 100%;
    position: absolute;
    background: none;
    opacity: 1;
    z-index: 50;
}

.marker {
    border: 1px solid #000;
    background: #FFFFFFFF;
    width: 4px;
    height: 20px;
    opacity: 0.2;
    position: absolute;
    top: -15px;
    border-radius: 3px 3px 3px 3px;
}

.marker:hover {
    transform: scale(1.1);
}

.marker-current {
    background: #00FF00FF;
}

.marker-tooltip {
    width: fit-content;
    height: auto;
    background-color: #fffeb9;
    color: black;
    text-align: center;
    border-radius: 4px;
    padding: 0px 3px 0px 3px;
    position: relative;
    z-index: 1010;
    transform: translateX(-45%) translateY(-100%);
    opacity: 1;
    transition: opacity 0.3s;
}

.marker-tooltip-text {
    text-align: center;
    display: inline-block;
}

.marker-tooltip-vertical {
    width: fit-content;
    height: auto;
    background-color: #fffeb9;
    color: black;
    text-align: center;
    border-radius: 4px;
    padding: 3px 0px 3px 0px;
    position: relative;
    z-index: 1010;
    transform: translateX(-45%) translateY(-100%);
    opacity: 1;
    transition: opacity 0.3s;
    -webkit-transition: -webkit-transform .2s ease-in-out;
    transition: transform .2s ease-in-out;
}

.marker-tooltip-text-vertical {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    writing-mode: vertical-lr;
    text-align: center;

    position: relative;
    left: 20%;
    bottom: -10%;
}

.marker-tooltip-vertical:hover {
    /*-webkit-transform: translate(0, 50%) rotate(90deg);
    transform: translate(0, 50%) rotate(90deg);
    */
    /*transform: scale(1.4);*/
}

/*
.marker-tooltip::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
    opacity: 0;
}
  
.marker:hover .marker-tooltip {
    visibility: visible;
    opacity: 1;
}
*/
.custom-button {
    opacity: 1;
    height: 32px;
}

.custom-button:disabled, custom-button[disabled]{
  opacity: 0.2;
}

/*
.ytp-tooltip:not([aria-hidden=true]) {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
    -webkit-transition: -webkit-transform .1s cubic-bezier(0.4,0,1,1),opacity .1s cubic-bezier(0.4,0,1,1);
    transition: transform .1s cubic-bezier(0.4,0,1,1),opacity .1s cubic-bezier(0.4,0,1,1),-webkit-transform .1s cubic-bezier(0.4,0,1,1),opacity .1s cubic-bezier(0.4,0,1,1);
}
*/

.custom-button-tooltip {
    position: absolute;
    font-family: "YouTube Noto",Roboto,Arial,Helvetica,"sans-serif";
    font-weight: 500;
    font-size: small;
    z-index: 1002;
    line-height: 15px;
    opacity: 0;
    -webkit-transition: -webkit-transform .1s cubic-bezier(0,0,0.2,1),opacity .1s cubic-bezier(0,0,0.2,1);
    transition: transform .1s cubic-bezier(0,0,0.2,1),opacity .1s cubic-bezier(0,0,0.2,1),-webkit-transform .1s cubic-bezier(0,0,0.2,1),opacity .1s cubic-bezier(0,0,0.2,1);
    pointer-events: none;
}

.custom-button-tooltip-text-wrapper {
    border-radius: 3px;
    float: right;
}
.custom-button-tooltip-text {
    display: block;
    background-color: rgba(28,28,28,0.9);
    color: #eee;
    border-radius: 2px;
    padding: 5px 9px;
}